@font-face{
    src: url(fonts/Chopin-Light.ttf);
    font-family: Chopin;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: Chopin;
    border: none;
    background: none;
    letter-spacing: 2px;
}

html{
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(#1e1839 85%, #000000);
}

nav{
    background-image: url("images/negativo-03.png");
    background-position:center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 999;
    box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.6);
}

.header{
    display: flex;
}

.dropdown{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

#navbar__logo{
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
}

.header__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-wrap: nowrap;
}

.dropdown_icon{
    height: 95px;
    padding: 30px 30px;
}

.dropdown__menu{
    transform: translateX(0px);
    background-color: #1e1839;
    box-shadow: -2px 10px 30px black;
    width: 300px;
    z-index: 998;
    animation: slide-right 0.3s ease reverse;
}

.servicios__dropdown__menu{
    background-color: #151129;
    animation: slide-right 0.3s ease reverse;
}

.hide{
    display: none;
}

@keyframes slide-right {

    from {
        transform: translateX(0px);
        opacity: 1;
    }
  
    to {
        transform: translateX(300px);
        opacity: 0;
    }
  
}

.dropdown__link:hover{
    color: blueviolet;
    transition: all 0.3s ease;
}

.dropdown__link{
    color: white;
    cursor: pointer;
    display: flex;
    padding-left: 40px;
    align-items: center;
    width: 100%;
    height: 80px;
    background: none;
    border: none;
    font-size: 1em;
}

@media (max-width: 744px) {
    .header__text{
        display: none;
    }
}

.welcom__video{
    margin-top: 100px;
    background-image: url(images/GTR_1.125.1.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
}

.section{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.section__header{
    font-weight: bolder;
    font-size: 3em;
    padding: 80px 40px;
    text-shadow:
    1px 1px 2px #000000,
    -1px -1px 2px #000000,
    0 10px 1.5em #ffffff,
    0 -10px 1.5em #ffffff;
}

.servicios__menu{
    display: flex;
    justify-content: center;
}
.servicios__columna__fotos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 50%;
    transform: translateX(150px);
}

.servicios__columna__texto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 50%;
}

.servicio__img{
    display: flex;
    background-position:center;
    background-size: cover;
    width: auto;
    height: 400px;
    margin-bottom: 120px;
    z-index: 1;
    border-radius: 20px;
    box-shadow: 5px 10px 40px rgb(0, 0, 0, 0.6), -5px 0px 40px rgb(0, 0, 0, 0.6);
    transition: all 0.3s ease;
}

.servicio__text__container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #0c0a1834;
    backdrop-filter: blur(8px);
    width: 500px;
    height: 300px;
    padding: 10px 10px;
    margin-bottom: 120px;
    z-index: 2;
    border-radius: 20px;
    box-shadow: 5px 5px 40px rgb(0, 0, 0, 0.6), -5px 0px 40px rgba(0, 0, 0, 0.6);
}

#servicios__texts{
    padding: 10px 40px;
    text-align: start;
}

.servicio_link{
    display: flex;
    margin: 10px 40px;
    align-items: center;
    justify-content: center;
    align-self: self-start;
    width: 120px;
    height: 50px;
    background-color:#000000;
    border-radius: 20px;
    border: solid 2px rgba(255, 255, 255, 0);
    transition: 0.3s ease;
}

.servicio_link:hover{
    border: solid 2px white;
    background-color:#00000000;
    transition: all 0.3s ease;
}

.servicio__img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}

@media (max-width: 1200px) {
    .servicios__columna__fotos{
        transform: translateX(75px);
    }
    .servicio__text__container{
        width: 400px;
        height: 250px;
        font-size: .8em;
    }
    .servicio__img{
        width: auto;
        height: 300px;
    }
    .servicio_link{
        width: 100px;
        height: 50px;
        border-radius: 20px;
        font-size: 1em;
    }
}

@media (max-width: 1000px) {
    .servicios__columna__fotos{
        transform: translateX(50px);
    }
    .servicio__text__container{
        width: 300px;
        height: 175px;
        font-size: .8em;
    }
    .servicio__img{
        width: auto;
        height: 200px;
    }
    .servicio_link{
        width: 100px;
        height: 40px;
        border-radius: 10px;
        font-size: 1em; 
    }
    .servicio__text{
        display: none;
    }
}

@media (max-width: 600px) {
    .servicios__columna__fotos{
        transform: translateX(75px);
    }
    .servicio__text__container{
        width: 225px;
        height: 125px;
        font-size: .7em;
        margin-bottom: 80px;
    }
    .servicio__img{
        width: auto;
        height: 150px;
        margin-bottom: 80px;
    }
    .servicio_link{
        width: 85px;
        height: 35px;
        border-radius: 10px;
        font-size: 1em; 
        margin: 10px 20px;
    }
    .servicio__text{
        display: none;
    }
    #servicios__texts{
        text-wrap: nowrap;
        padding: 10px 20px;
    }
}

#colaboraciones{
    background-color: #29386b;
    box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.6), 0px 5px 30px rgba(0, 0, 0, 0.6);
}

.empresas__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}

.empresa{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 40px 20px;
}

.empresa__header{
    text-wrap: nowrap;
    font-size: 1.4em;
}

.empresa__img{
    margin-top: 40px;
    height: 300px;
    width: 300px;
    background-position:center;
    object-fit: cover;
    box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.6), 0px 5px 30px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    transition: all 0.3s ease;
}

.empresa__img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}

@media (max-width: 1040px){
    .empresas__menu{
        flex-direction: column;
        padding-bottom: 50px;
    }
}

.about__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about{
    background-color: #29386b;
    box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.6), 0px 5px 30px rgba(0, 0, 0, 0.6);
    border-radius: 125px;
    margin: 40px;
    min-height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about__img{
    box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.6), 0px 5px 30px rgba(0, 0, 0, 0.6);
    margin: 0px 20px;
    width: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.about__text__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    padding: 35px;
    row-gap: 20px;
}

#quote{
    font-style: italic;
    font-size: .8em;
}

@media (max-width: 1465px){
    .about__menu{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 740px){
    .about__menu{
        flex-direction: column;
    }
    
    .about{
        padding: 20px;
        flex-direction: column;
    }

    .about__text__container{
        align-items: center;
        text-align: center;
    }
}

.footer__menu{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    height: auto;
}
.footer__column{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.footer__header{
    margin-bottom: 20px;
}
.footer__text i{
    padding-right: 20px;
}

.footer__text{
    transition: color 0.3s ease;
}

.footer__text:hover{
    color:rgb(173, 106, 236);
    transition: color 0.3s ease;
}

@media (max-width: 575px){
    .footer__menu{
        flex-direction: column;
        align-items: center;
        row-gap: 80px;
        padding-bottom: 50px;
        text-align: center;
    }
}

#servicio__concreto{
    padding-top: 100px;
    margin: 0;
}

#servicio__concreto img{
    position: absolute;
    background-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -99;
}
.servicio__concreto__menu{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 10px 30px rgb(0, 0, 0, 0.6), 0px -10px 30px rgba(0, 0, 0, 0.6);
}

#text_right{
    text-align: end;
}

.servicio__concreto__p{
    width: 35%;
    font-weight: bolder;
    padding: 50px 40px;
    padding-bottom: 50%;
    text-align: start;
    text-shadow:
    1px 1px 2px black,
    0 0 1em #000000,
    0 0 0.2em #000000;
}



@media (max-width: 660px){
    .servicio__concreto__menu{
        flex-direction: column;
        align-items: center;
    }

    .servicio__concreto__p{
        width: 100%;
        padding: 50px 30px;
        padding-right: 150px;
    }

    #text_right{
        text-align: start;
        padding-right: 30px;
        padding-left: 150px;
    }
}

#text_right{
    text-align: end;
}

.carousel{
    height: 800px;
    position: relative;
}

.carousel > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    transition-delay: 0.2s;
}

.slide[data-active]{
    opacity: 1;
    z-index: 1;
    transition-delay: 0s;
}

.slide > img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__btn{
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff6b;
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.carousel__btn:hover,
.carousel__btn:focus{
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.carousel__btn:focus{
    outline: 1px solid black;
}

.carousel__btn.prev{
    left: 1rem;
}

.carousel__btn.next{
    right: 1rem;
}