@font-face{
    src: url(fonts/Chopin-Light.ttf);
    font-family: Chopin;
}

:root{
    --clr-bg-dark: #1e1839;
    --clr-bg-bright: #212d55;
    --clr-dark: #111;
    --clr-light: #fff;
    --clr-text-hover: #7e62e6;

    --navbar-max-height: 100px;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: var(--clr-light);
    font-family: Chopin;
    border: none;
    background: none;
    letter-spacing: 1px;
}

button{
    cursor: pointer;
}

/* Utility classes */

.animate{
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animate.animate--infinite{
    animation-iteration-count: infinite;
}

.animate.animate--delay-1s{
    animation-delay: 1s;
}

.animate.animate--fast{
    animation-duration: 0.4s;
}

.animate.animate--slow{
    animation-duration: 2s;
}

.animate.animate--reverse{
    animation-direction: reverse;
}

/* Animations */

.hide{
    animation-name: hide;
}

.serviciosHide{
    animation-name: hide;
}

@keyframes hide {

    0%{
        display: block;
    }
    100%{
        display: none;
    }
}

.show{
    animation-name: show;
}

.serviciosShow{
    animation-name: show;
}

@keyframes show {

    0%{
        display: none;
    }
    100%{
        display: block;
    }
}

.slideFromRight{
    animation-name: slideFromRight;
}
.slideFromRightOffset{
    animation-name: slideFromRightOffset;
}

@keyframes slideFromRight {

    from {
        transform: translateX(0px);
        opacity: 1;
    }
  
    to {
        transform: translateX(300px);
        opacity: 0;
    }
  
}
@keyframes slideFromRightOffset {

    from {
        transform: translateX(-20px);
        opacity: 1;
    }
  
    to {
        transform: translateX(300px);
        opacity: 0;
    }
  
}

.slideToRight{
    animation-name: slideToRight;
}
.slideToRightOffset{
    animation-name: slideToRightOffset;
}

@keyframes slideToRight {

    from {
        transform: translateX(300px);
        opacity: 0;
    }
  
    to {
        transform: translateX(0px);
        opacity: 1;
    }
  
}
@keyframes slideToRightOffset {

    from {
        transform: translateX(300px);
        opacity: 0;
    }
  
    to {
        transform: translateX(-20px);
        opacity: 1;
    }
  
}

.fadeIn{
    animation-name: fadeIn;
    animation-duration: 0.8s;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    70%{
        opacity: 0;
    }
}

.fadeIn2{
    animation-name: fadeIn2;
    animation-duration: 0.8s;
}

@keyframes fadeIn2{
    0%{
        opacity: 0;
    }

    70%{
        opacity: 0;
    }
}

html{
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(var(--clr-bg-dark) 80%, var(--clr-dark));
}

/* Navbar */

nav{
    background-image: url("images/negativo-03.png");
    background-position:center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-height: var(--navbar-max-height);
    position: fixed;
    z-index: 999;
    box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.6);
}

.header{
    display: flex;
    flex-direction: row;
}

.navbar__logo img{
    width: auto;
    height: 100px;
    padding-left: 10px;
    padding-top: 10px;
}

.header__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-wrap: nowrap;
    transition: transform 0.3s;
}

.dropdown{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    flex-wrap:wrap;
}

.dropdown_icon{
    height: 95px;
    padding: 30px 0px;
    padding-right: 30px;
    filter:brightness(50%);
    transition: 0.3s;
}

.dropdown_icon:hover,
.dropdown_icon:focus{
    filter:brightness(100%);
}

.dropdown__menu{
    transform: translateX(0px);
    background-color: var(--clr-bg-dark);
    box-shadow: -2px 10px 30px var(--clr-dark);
    width: 300px;
    z-index: 998;
    border-bottom-left-radius: 20px;
}

.servicios__dropdown__menu{
    background-color: var(--clr-bg-bright);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    transform: translateX(-20%);
    width: 120%;
    box-shadow: -2px 10px 30px var(--clr-dark), -2px -10px 30px var(--clr-dark);
}

.hidden{
    display: none;
}

.dropdown__link:hover,
.dropdown__link:focus{
    color: var(--clr-text-hover);
}

.dropdown__link{
    color: var(--clr-light);
    cursor: pointer;
    display: flex;
    padding-left: 40px;
    align-items: center;
    width: 100%;
    height: 80px;
    background: none;
    border: none;
    font-size: 1em;
    transition: 0.3s;
}

@media (max-height: 740px){
    .dropdown__link{
        font-size: .8em;
        height: 65px;
    }
}

@media (max-width: 744px) {
    .header__text{
        font-size: 0.7rem;
        transform-origin: left;
        transition: 0.3s;
    }

    .textShrinkLeft{
        width: 0;
        opacity: 0;
    }
}

/* Welcome */

.welcom__video{
    margin-top: 100px;
    background-image: url(images/GTR_1.125.1.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
}

.section{
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.section__header{
    font-weight: bolder;
    font-size: 3em;
    padding: 120px 40px;
    text-transform: uppercase;

    background-image: url(images/Lidia\ Videoclip\ 3_3.12.1.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@media (max-width: 600px){
    .section__header{
        font-size: 1.8em;
    }
}
@media (max-width: 375px){
    .section__header{
        font-size: 1.3em;
    }
}

/* Servicios */

.servicios__menu{
    display: flex;
    justify-content: center;
}
.servicios__columna__fotos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 50%;
    transform: translateX(200px);
}

.servicios__columna__texto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 50%;
}

.servicio__img{
    display: flex;
    background-position:center;
    background-size: cover;
    width: auto;
    height: 400px;
    margin-bottom: 60px;
    z-index: 1;
    border-radius: 20px;
    box-shadow: 5px 10px 40px rgb(0, 0, 0, 0.6), -5px 0px 40px rgb(0, 0, 0, 0.6);
    transition: 0.3s;
}

.servicio__text__container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #0c0a1834;
    backdrop-filter: blur(8px);
    width: 500px;
    height: 300px;
    padding: 10px 10px;
    margin-bottom: 60px;
    z-index: 2;
    border-radius: 20px;
    box-shadow: 5px 5px 40px rgb(0, 0, 0, 0.6), -5px 0px 40px rgba(0, 0, 0, 0.6);
}

#servicios__texts{
    padding: 10px 40px;
    text-align: start;
}

.servicio_link{
    display: flex;
    margin: 10px 40px;
    align-items: center;
    justify-content: center;
    align-self: self-start;
    width: 120px;
    height: 50px;
    background-color: var(--clr-dark);
    border-radius: 20px;
    border: solid 2px rgba(255, 255, 255, 0);
    transition: 0.3s;
}

.servicio_link:hover,
.servicio_link:focus{
    border: solid 2px var(--clr-light);
    background-color: var(--clr-dark);
    transform: scale(1.05);
}

.servicio_link:hover,
.servicio_link:focus{
}

.servicio__img:hover,
.servicio__img:focus{
    transform: scale(1.05);
}

@media (max-width: 1200px) {
    .servicios__columna__fotos{
        transform: translateX(100px);
    }
    .servicio__text__container{
        width: 400px;
        height: 250px;
        font-size: .8em;
    }
    .servicio__img{
        width: auto;
        height: 300px;
    }
    .servicio_link{
        width: 100px;
        height: 50px;
        border-radius: 20px;
        font-size: 1em;
    }
}

@media (max-width: 1000px) {
    .servicios__columna__fotos{
        transform: translateX(50px);
    }
    .servicio__text__container{
        width: 300px;
        height: 175px;
        font-size: .8em;
    }
    .servicio__img{
        width: auto;
        height: 200px;
    }
    .servicio_link{
        width: 100px;
        height: 40px;
        border-radius: 10px;
        font-size: 1em; 
    }
    .servicio__text{
        display: none;
    }
}

@media (max-width: 600px) {
    .servicios__columna__fotos{
        transform: translateX(110px);
    }
    .servicio__text__container{
        width: 175px;
        height: 125px;
        font-size: .7em;
        margin-bottom: 40px;
        transform: translateX(-25px);
    }
    .servicio__img{
        width: auto;
        height: 145px;
        margin-bottom: 40px;
    }
    .servicio_link{
        width: 85px;
        height: 35px;
        border-radius: 10px;
        font-size: 1em; 
        margin: 10px 20px;
    }
    .servicio__text{
        display: none;
    }
    .servicio__header{
        font-size: .75rem;
    }
    #servicios__texts{
        text-wrap: nowrap;
        padding: 10px 20px;
    }
}

/* Colaboraciones */

#colaboraciones{
    background-color: var(--clr-bg-bright);
    box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.6), 0px 5px 30px rgba(0, 0, 0, 0.6);
}

.empresas__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}

.empresa{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 40px 20px;
}

.empresa__header{
    text-wrap: nowrap;
    font-size: 1.4em;
}

.empresa__img{
    margin-top: 40px;
    height: 300px;
    width: 300px;
    background-position:center;
    object-fit: cover;
    box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.6), 0px 5px 30px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    transition: 0.3s;
}

.empresa__img:hover,
.empresa__img:focus{
    transform: scale(1.05);
}

@media (max-width: 1040px){
    .empresas__menu{
        flex-direction: column;
        padding-bottom: 50px;
    }
}

/* Sobre Nosotros */

.about__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.about{
    background-color: var(--clr-bg-bright);
    box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.6), 0px 5px 30px rgba(0, 0, 0, 0.6);
    border-radius: 125px;
    margin: 40px;
    padding: 20px;
    min-height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about__img{
    box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.6), 0px 5px 30px rgba(0, 0, 0, 0.6);
    margin: 0px 20px;
    width: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.about__text__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    padding: 35px;
    row-gap: 20px;
}

#quote{
    font-style: italic;
    font-size: .8em;
}

@media (max-width: 1465px){
    .about__menu{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 740px){
    .about__menu{
        flex-direction: column;
    }
    
    .about{
        padding: 20px;
        flex-direction: column;
    }

    .about__text__container{
        align-items: center;
        text-align: center;
    }
}

/* Footer */

.footer__menu{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    height: auto;
    padding-bottom: 50px;
}
.footer__column{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.footer__header{
    margin-bottom: 20px;
    font-size: 1.4rem;
}
.footer__text i{
    padding-right: 20px;
}

.footer__text{
    transition: 0.3s;
}

.footer__text:hover,
.footer__text:focus{
    color: var(--clr-text-hover);
}

@media (max-width: 575px){
    .footer__menu{
        flex-direction: column;
        align-items: center;
        row-gap: 80px;
        text-align: center;
    }
}

/* Servicio Concreto */

#servicio__concreto{
    padding-top: 100px;
    margin: 0;
}

#servicio__concreto img{
    position: absolute;
    background-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -99;
}
.servicio__concreto__menu{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#text_right{
    text-align: end;
}

.servicio__concreto__p{
    width: 35%;
    font-weight: bolder;
    padding: 50px 40px;
    padding-bottom: 50%;
    text-align: start;
    font-size: 1.3em;
    text-shadow:
    10px 10px 20px #081d38,
    -10px -10px 20px #081d38;
}

@media (max-width: 660px){
    .servicio__concreto__menu{
        flex-direction: column;
        align-items: center;
    }

    .servicio__concreto__p{
        width: 100%;
        padding: 50px 30px;
        padding-right: 50px;
    }

    #text_right{
        text-align: start;
        padding-right: 30px;
        padding-left: 50px;
    }
}

#text_right{
    text-align: end;
}

.carousel{
    margin: 50px 100px;
    height: 750px;
    position: relative;
}

.carousel > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    transition-delay: 0.2s;
}

.slide[data-active]{
    opacity: 1;
    z-index: 1;
    transition-delay: 0s;
}

.slide > img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    box-shadow: 0px 0px 25px 5px rgb(0, 0, 0, 0.3), 0px 0px 25px 5px rgba(0, 0, 0, 0.3);
}

.carousel__btn{
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 2.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff6b;
    cursor: pointer;
    border-radius: .5rem;
    padding: 0 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.carousel__btn:hover,
.carousel__btn:focus{
    color: var(--clr-light);
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel__btn:focus{
    outline: 1px solid var(--clr-dark);
}

.carousel__btn.prev{
    left: 1rem;
}

.carousel__btn.next{
    right: 1rem;
}

/* Galeria */

.galeria__menu{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px;
    padding-bottom: 150px;
}

.galeria__item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
    align-items: center;
    width: 100%;
    height: 250px;
}

.galeria__img{
    width: 450px;
    border-radius: 20px;
    border: solid 3px rgba(255, 255, 255, 0);
    transition: 0.3s;
}

.galeria__img:hover,
.galeria__img:focus{
    border: solid 3px rgba(255, 255, 255, 1);
}

.blur{
    box-shadow: 0 0 1000px 100px var(--clr-text-hover);
    margin: 20px 20px;
    z-index: -100;
}

.galeria__item__text{
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
}

#flecha{
    font-size: 5em;
}

.left{
    transform: rotateZ(180deg)
}

@media (max-height: 750px){
    .carousel{
        height: 550px;
    }
}

@media (max-width: 1050px){
    .carousel{
        margin: 50px 20px;
        height: 400px;
    }
    .galeria__item{
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
    }
    #flecha{
        transform: rotateZ(90deg)
    }
    #item__left{
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .galeria__img{
        width: 100%;
    }
    .galeria__item__text{
        font-size: 100%;
    }
    #flecha{
        font-size: 2.5em;
    }
    .galeria__menu{
        padding-bottom: 50px;
    }
}